# Local datasets
trainer-service/data/

# Generated model artifacts
trainer-service/saved_models/
trainer-service/models/*
!trainer-service/models/.gitkeep

# Python bytecode cache
__pycache__/
*.py[cod]

# Virtual environments
trainer-service/.venv/
.venv/
